<p>
  <mat-toolbar color="warn">Todo page</mat-toolbar>
</p>
<nav class="navigation-bar">
    <button mat-raised-button color="primary" [routerLink]="'config'">config</button>
    <button mat-raised-button color="primary" [routerLink]="'todo'">todo</button>
    <button mat-raised-button color="primary" [routerLink]="'user'">user</button>
    <div class="noWrapBox" [ngSwitch]="this.session.getInfo()">
      <button *ngSwitchCase="null" mat-raised-button color="primary" [routerLink]="'login'">login</button>
      <button *ngSwitchDefault (click)="logout()" mat-raised-button color="primary" [routerLink]="''">logout</button>
    </div>
    <button mat-raised-button color="primary" [routerLink]="'directive'">directive</button>
    <button mat-raised-button color="primary" [routerLink]="'inventory'">資産管理</button>
    <button mat-raised-button color="primary" [routerLink]="''">dummy</button>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
