<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div *ngIf="session.getInfo() == null">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container">
      <h1>로그인</h1>
      <input formControlName="id" name="id" type='text' class='form-control' required/>
      <br/>
      <input formControlName="pw" name="pw" type='text'class='form-control' required/>
      <br/>
      <input
        type="submit"
        value="LogIn"
        class='btn btn-success'
        [disabled]="!loginForm.valid"
        />
    </div>
  </form>
</div>
<div *ngIf="session.getInfo() != null">
  <div class="container">
    <p>로그아웃 하시겠습니까?</p>
    <button class='btn btn-success' (click)='logout()'>로그아웃</button>
  </div>
</div>
