<!--
    color="primary"
    color="accent"
    color="warn"
 -->
<p>
  <mat-toolbar color="warn">Todo page</mat-toolbar>
</p>
<nav class="navigation-bar">
    <button mat-raised-button color="primary" [routerLink]="'config'">config</button>
    <button mat-raised-button color="primary" [routerLink]="'todo'">todo</button>
    <button mat-raised-button color="primary" [routerLink]="'user'">user</button>
    <button mat-raised-button color="primary" [routerLink]="'login'">login</button>
    <button mat-raised-button color="primary" [routerLink]="''">dummy</button>
    <button mat-raised-button color="primary" [routerLink]="''">dummy</button>
    <button mat-raised-button color="primary" [routerLink]="''">dummy</button>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
