<button (click)="showTodo()">show todo</button>
<p>{{todo.id}}</p>
<p>{{todo.title}}</p>
<p>{{todo.userId}}</p>
<p>{{todo.completed}}</p>

<button (click)="showTodoList()">show todo list</button>
<div *ngFor="let item of todoList">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle>{{item.userId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{item.completed}}</p>
    </mat-card-content>
  </mat-card>
</div>


