<!-- <button (click)="showUser()">show user</button>
<p>
  {{user?.name}}
</p>

<button (click)="showUsers()">show user list</button>
<div *ngFor="let item of users">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{item?.name}}</mat-card-title>
      <mat-card-subtitle>{{item?.phone}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{item?.website}}</p>
    </mat-card-content>
  </mat-card>
</div> -->
<div>
  <h1>유저 등록 페이지</h1>
  <span>{{AuthMsg}}</span>
</div>
<form action="#" (ngSubmit)="registUser()">
  <div>
    <label for="userId">ID</label>
    <input id="userId" type="text" name="userId" [(ngModel)]="userInfo.userId">
  </div>
  <div>
    <label for="password">PASSWORD</label>
    <input id="password" type="password" name="password" [(ngModel)]="userInfo.password">
  </div>
  <button mat-raised-button color="primary" type="submit">登録</button>
</form>
